:global {
  .fr-toolbar {
    border: 0 !important;
    color: inherit !important;

    .fr-newline {
      display: none !important;
    }

    .fr-separator {
      background: rgba(0, 0, 0, 0.12);
    }
  }

  .fr-box {
    &.fr-basic {
      border-radius: initial !important;
    }
  }

  .fr-wrapper {
    background: initial !important;
    border: 0 !important;
  }

  .fr-element {
    font-family: inherit !important;
    color: inherit !important;
  }

  .fr-second-toolbar {
    border: 0 !important;
  }

  .fr-placeholder {
    padding-top: 1em !important;
  }
}
